h1 {
	color: #FF00FF;
	font-size: 36px;
	text-align: center;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.more-info {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.main-header {
	text-align: center;
	padding-top: 35px;
	background-image: url('ernestine.jpg') center no-repeat;
	background-size: cover;
	background-
}