@font-face {
  font-family: 'Abolition Regular';
  src: url('fonts/abolition-regular-webfont.eot');
  src: url('fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/abolition-regular-webfont.woff') format('woff'),
       url('fonts/abolition-regular-webfont.ttf') format('truetype');
}


body {
	font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1 {
	color: #FF00FF;
	font-size: 36px;
	text-align: center;
	text-shadow: 5px 5px 10px #888888;

}

h3 {
	text-align: center;
	font-size: 24px;
}

img {
  max-width: 80%;
  margin-bottom: 10px;
  border-radius: 30px;
  transform: rotate(90deg);
}

li {
	list-style: none;
	padding-top: 10px;
	text-align: center;
}

.more-info {
	text-align: center;
	font-size: 18px;
}

.main-header {
	text-align: center;
	padding-top: 15px;
	background-image: url('ernestine.jpg') center no-repeat;
	background-size: cover;
}

.fav-things-left,
.fav-things-right {
	width: 20%;
	color: #000;
	border: 2px dotted grey;
	border-radius: 10px;
	margin-bottom: 40px;
}

.fav-things-left {
	float: left;
	margin-left: 40px;
}

.fav-things-right {
	float: right;
	margin-right: 40px;
	padding-right: 40px;
}


